.whiteSpace{ 
    background-color: #f5f5f5; 
    height: 600px;
} 

.redSpace{ 
    background-color: #8C1515; 
    height:80px;
}  

.versionPlace { 
    float: right; 
    text-indent: 10px; 
    margin-right: 10px; 
    color: white
}